/* Centrerer hele containeren på skærmen */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color:"#c0c0c0";
  font-family: Arial, sans-serif;
}

/* Selve formularen */
.login-form {
  background: rgb(52, 49, 49);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(26, 25, 25, 0.2);
  display: flex;
  flex-direction: column;
  width: 320px;
  max-width: 90%;
  text-align: center;
}

/* Overskriften */
.login-form h2 {
  margin-bottom: 20px;
  color: #f5f5f5;
}

/* Input felter */
.login-form input {
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.login-form input:focus {
  border-color: #e15858;
}

/* Login knap */
.login-form button {
  margin-top: 15px;
  padding: 12px;
  background: #e85353;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-form button:hover {
  background: #cf2020;
}


/* Users */
.admin-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  color: #333;
}

.admin-table th, .admin-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.admin-table th {
  background-color: #444;
  color: white;
}

.admin-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
